@import "tailwindcss";

@theme {
  --color-background: #0A0A0A;
  --color-primary: #FFFFFF;
  --color-accent: #FF6B00;
  --color-surface: #121212;
  --color-accent-outline: #333333;
  --font-sans: "Space Grotesk", ui-sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}

.clip-corner {
  clip-path: polygon(20px 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%,
      0 20px);
}
